<ion-content>
    <ion-img src="../../assets/35221.jpg" style="height: 25%;" ></ion-img>
    <ion-item>
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-input [(ngModel)]="nome" required type="text" placeholder="Nome*"></ion-input>
      </ion-item>   
    <ion-item>
      <ion-icon slot="start" name="at"></ion-icon>
      <ion-input [(ngModel)]="email" required type="text" placeholder="Email*"></ion-input>
    </ion-item><ion-item>
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-input required [(ngModel)]="senha" type="password" placeholder="Senha*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-input required [(ngModel)]="rsenha" type="password" placeholder="Repita a senha*"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-input required [(ngModel)]="mestre" type="text" placeholder="Codigo de Indicação"></ion-input>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <ion-checkbox (click)="aceitar()"></ion-checkbox></ion-col>
        <ion-col size="10">
            Li e aceito os 
            <a href="https://docs.google.com/document/d/1G_aSIToBSa1bXCcg-8VFkgR0-wI5LqS8Y1uJQs0Wex0/edit?usp=sharing">Termos de uso</a> e a 
            <a href="https://docs.google.com/document/d/1zXXT2fGeomntLLFmhPW-lVEck7xKf99zl9xSUV3eFfI/edit?usp=sharing">Politica de Privacidade</a>.
        </ion-col>
      </ion-row>
      
      </ion-item>
    <div class="row" style="margin-top: 5%;">
      <div text-center class="col">
        <ion-button size="small" text-center (click)="cadastrar()">cadastrar</ion-button>
      </div>
    </div>
    <div class="row" style="margin-top: 5%;">
      <div text-center class="col">
        Já possui cadastro?
        <br>
        <ion-button size="small" style="margin-top: 5%;" routerLink="/home">Logar</ion-button>
      </div>
    </div>
  </ion-content>
  
