.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: large;
    border: groove;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    color:black;
}