<ion-header>
  <ion-row>
    <ion-col align-self-center>
      <ion-button expand="full" (click)="abrirPerfil()" style="text-align: right;">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col text-center>
      <ion-button expand="full" (click)="abrirGrupos()" style="text-align: right;">
        <ion-icon name="cash"></ion-icon>
        GRUPOS
        <ion-icon name="cash"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col text-right>
        <ion-button expand="full" routerLink="/duvidas" style="text-align: right;">
          <ion-icon name="help"></ion-icon>
        </ion-button>
        
    </ion-col>
  </ion-row>
  <ion-row text-center>
    <ion-col>
      <ion-button expand="full" (click)="abrirRank()" style="text-align: right;">
      <ion-icon name="trophy"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <b><h5>R${{total}}</h5></b>
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/carteira" style="text-align: right;">
      <ion-icon name="wallet"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-button size="large" color="secondary" expand="block" (click)="abrirModal()">Escolha o Assunto</ion-button>
    <ion-row>
      <ion-col size="9" offset="1" style="margin-top: 15px;"><ion-progress-bar color="success" value={{progress}}></ion-progress-bar></ion-col>
      <ion-col><ion-icon color="warning" size="large" name="trophy"></ion-icon></ion-col>
    </ion-row>
    <br>
  <div class="row">
    <div text-center class="col">
      <ion-card>
        <ion-card-content text-center>
            {{question}}
            <br>
        </ion-card-content>
      </ion-card>
      <ion-card name="button1" color="primary">
        <ion-card-content text-center>
          <ion-item lines="none" text-center text-wrap  (click)="liberarPremio(button1)" color="primary">
            <ion-label text-wrap>{{button1}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card name="button2" color="primary">
        <ion-card-content text-center>
          <ion-item lines="none" text-center text-wrap  (click)="liberarPremio(button2)" color="primary">
            <ion-label text-wrap>{{button2}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card name="button3" color="primary">
        <ion-card-content text-center>
          <ion-item lines="none" text-center text-wrap  (click)="liberarPremio(button3)" color="primary">
            <ion-label text-wrap>{{button3}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card name="button4" color="primary">
        <ion-card-content text-center>
          <ion-item lines="none" text-center text-wrap  (click)="liberarPremio(button4)" color="primary">
            <ion-label text-wrap>{{button4}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <ion-card name="button5" color="primary">
        <ion-card-content text-center>
          <ion-item lines="none" text-center text-wrap  (click)="liberarPremio(button5)" color="primary">
            <ion-label text-wrap>{{button5}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
      <br>
    </div>
  </div>
</ion-content>
