<ion-header>
  <ion-row>
    <ion-col>
      <ion-button (click)="voltar()" style="text-align: right;">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col text-center>
      <h3>DÚVIDAS</h3>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Quem recebe o prêmio?</ion-card-title>
    </ion-card-header>

    <ion-card-content text-justify>
      <ion-text>
      <p>Os usuários que estiverem em uma das 3 primeiras colocações no ranking mensal no dia e horário do fechamento da temporada
        que ocorrerá as 23:59 do último dia de cada mês.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Como o prêmio será entregue?</ion-card-title>
    </ion-card-header>

    <ion-card-content text-justify>
      <ion-text>
      <p>O prêmio será entregue para o usuário no endereço cadastrado no perfil, 
        caso o usuário não tenha cadastrado seu endereço, 
        nossa equipe entrará em contato pelo telefone e e-mail cadastrado.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Quando é informado o prêmio do mês?</ion-card-title>
    </ion-card-header>

    <ion-card-content text-justify>
      <ion-text>
      <p>O prêmio será informado no dia 01 do mês em questão, 
        em nosso aplicativo, <a href="https://www.instagram.com/scriptblock/?hl=pt-br">Instagram</a>, 
        <a href="https://www.facebook.com/groups/187640342527537/?source_id=108595180746509">Facebook</a>. 
      </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Onde posso ver as informações dos prêmios?</ion-card-title>
    </ion-card-header>

    <ion-card-content text-justify>
      <ion-text>
      <p>As informações dos prêmios estão presentes no menu Premiação que fica na tela de ranking.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
