<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center (click)="escolher(6)"><ion-label class="my-label">Nerd</ion-label></ion-item>
          </ion-card-content>
        </ion-card>  
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(1)"><ion-label class="my-label">Matemática</ion-label></ion-item>
          </ion-card-content>
        </ion-card> 
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(2)"><ion-label class="my-label">Português</ion-label></ion-item>
          </ion-card-content>
        </ion-card> 
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(3)"><ion-label class="my-label">Biologia</ion-label></ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>  
    </ion-row>
    <ion-row text-center>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(4)"><ion-label class="my-label">Geografia</ion-label></ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(5)"><ion-label class="my-label">História</ion-label></ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col size="6">
        <ion-card>
          <ion-card-content text-center>
            <ion-item lines="none" text-center no-lines (click)="escolher(0)"><ion-label class="my-label">Todos</ion-label></ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>