<ion-content>
  <img src="../../assets/logo.png" width="100%" height="55%"/> 
  <ion-item>
    <ion-icon slot="start" name="at"></ion-icon>
    <ion-input [(ngModel)]="email" required type="text" placeholder="E-mail"></ion-input>
  </ion-item><ion-item>
    <ion-icon slot="start" name="key"></ion-icon>
    <ion-input required [(ngModel)]="senha" type="password" placeholder="Senha"></ion-input>
  </ion-item>
  <div style="margin-top: 5%;">
    <ion-row text-center>
      <ion-col><ion-button expand="block" text-center (click)="abrirRecuperar()">Esqueceu a senha?</ion-button></ion-col>
      <ion-col><ion-button expand="block" text-center (click)="login()">Logar</ion-button></ion-col>
    </ion-row>
  </div>
  <div class="row" style="margin-top: 5%;">
    <div text-center class="col" style="margin-top: 5%;">
      Ainda não possui cadastro? clique <a routerLink="/cadastro">aqui</a>
      <br>
    </div>
  </div>
</ion-content>
